---
  import Check from './icons/Check.astro';
  import CheckDashed from './icons/CheckDashed.astro';
  import Tooltip from './Tooltip.astro';
  import type { Client } from '../types.ts';
import SubmissionDetail from './SubmissionDetail.astro';

  interface Props {
    client: Client;
  }

  const { client } = Astro.props;
---

<article class="client-record">
  <div class="heading">
    <div class="flex">
      <h2>{client.name}</h2>
      <p>Tax Year: <span class="number">{client.taxYear.toString()}</span></p>
    </div>
    <div class:list={['status-icon', { complete: client.isComplete }]}>
      <Tooltip message="Mark this submission complete?">
        {client.isComplete && <Check />}
        {!client.isComplete && <CheckDashed />}
      </Tooltip>
    </div>
  </div>
  <div class="details">
    <p class="flex col">
      Initial Submission: <span class="number">{client.originalSubmissionDate}</span>
    </p>
    <p class="flex col">
      Records Count: <span class="number">{client.originalRecordsNum}</span>
    </p>
    <p class:list={['status', { complete: client.isComplete }]}>{client.overallStatus}</p>
  </div>
  <div class="submissions">
    <h3>Submissions</h3>
    {
      client.submissions.map((sub) => (
        <SubmissionDetail submission={sub} />
      ))
    }
  </div>
</article>

<style>
  article {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-card);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 1.5rem;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  h2 {
    margin-block: 0;
    color: var(--teal);
  }
  .status-icon :global(svg) {
    width: 1.5rem;
  }
  .status-icon.complete > :global(svg > path:first-child) {
    fill: var(--teal);
  }
  .status-icon.complete > :global(svg > path:last-child) {
    stroke: white;
  }
  p {
    margin: 0;
  }
  .details {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
  }
  .details > p .number {
    font-weight: 500;
  }
  .status {
    font-weight: 600;
    color: var(--magenta);
  }
  .status.complete {
    color: var(--teal);
  }
</style>