---
import type { AcaError, Submission } from '../types';
import ErrorDetail from './ErrorDetail.astro';
import Chevron from './icons/Chevron.astro';

interface Props {
  submission: Submission
}

const { submission } = Astro.props;
---

<div class="submission-row">
  <div class="flex space-between">
    <p class="number">{submission.submittedOn}</p>
    <p class="number"><strong>{submission.receiptId}</strong></p>
    <p>{submission.submissionType}</p>
    <p class="number">{submission.numberOfRecords}</p>
    <p>{submission.status}</p>
    <a href="#" class="show-errors"><Chevron /></a>
  </div>
  <div class:list={["errors", {hidden: !submission.errors}]}>
    <table>
      <thead>
        <tr>
          <th>Error Code</th>
          <th>Error</th>
          <th>Employee</th>
          <th>Excel Row</th>
          <th>Record #</th>
          <th>Covered Ind.</th>
        </tr>
      </thead>
      <tbody>
        {
          submission.errors.map((error) => (
            <ErrorDetail error={error} />
          ))
        }
      </tbody>
    </table>
  </div>
</div>

<style>
  .submission-row {
    border-bottom: 1px dashed var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .submission-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }
  .show-errors {
    transition: .3s;
    rotate: 0deg;
    position: relative;
    top: 0;
  }
  .show-errors.open {
    rotate: 180deg;
    top: -5px;
  }
  .errors {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    max-height: 400px;
  }
  .hidden {
    visibility: hidden;
  }
</style>

<script>
  // @ts-nocheck
  const btns = document.querySelectorAll('.show-errors');
  btns.forEach((btn) => {
    btn.addEventListener('click', function (event) {
      event.preventDefault();
      event.stopPropagation();
      // toggle button direction
      btn.classList.toggle('open');

      // open/close errors 
      const container = btn.closest('.submission-row');
      const errors = container.querySelector('.errors');
      if (!errors.classList.contains('open')) {
        // then the errors are not showing -- open the accordion 
        errors.classList.add('open');
        errors.style.height = 'auto';
        const height = errors.scrollHeight;
        errors.style.height = '0px';
        errors.offsetHeight; // read the property to force the setting
        errors.style.height = height + "px";
        setTimeout(() => {
          errors.style.overflow = "auto";
          errors.style.height = 'auto';
        }, 300); 
      } else { // the errors are showing -- close the accordion
        errors.classList.remove('open');
        errors.style.overflow = "hidden";
        const height = errors.scrollHeight;
        errors.style.height = height + "px";
        errors.offsetHeight; // force the setting
        errors.style.height = "0px";
      }
    });
  });
</script>
